*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.left-container{
    height: 100vh;
    width: 18rem;
    background-color:pink;
    position: fixed;
    background: #040b14;
    color: #fff;
    
    
}

.profile{
    padding: 2rem;
    margin-top: 3.5rem;
    border: 1px solid black;
    /* height: 300px;
    width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 3.2rem;

}
.profile-pic{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 75px;
    border: 3px solid gray;
}
.social-link{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.social-link div{
    height: 0.79rem;
    width: 1rem;
    overflow: hidden;
    border-radius:22px;
    /* padding: 1rem; */
    /* border: 2px solid  #040b14 ; */

}
.social-link div img{
    height: 1rem;
    width: 1rem;
}

.social-link>a{
    text-decoration: none;
    color: #fff;
    
}
.social-link>a:hover{
    color: #149ddd;
}
.profile-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    margin-top: 4rem;
}
.profile-details>div{
    display: block;
    width: 1rem;
    height: 1rem;
    /* margin:2rem; */
}
.profile-details>div>a{
    text-decoration: none;
    color:#fff
}

.profile-details>div>a:hover{
    color: #149ddd;
}
.profile-details img{
    width: 1rem;
    height: 1rem;
    display: block;
}

.profile-details>div>p{
    display: block;
}
.right-container{

    width: 100vw;
    display: block;
    margin-left: 18rem;
    /* display: flex; */
    /* flex-direction: row; */
   
    /* height: 300px; */
    /* width: 100%; */
    /* background-color:red; */
    color:black;
    /* margin-right: 100px; */
    padding-left: 1rem;
}
.hero-container{
    position: relative;
   width: 100%;
   height: 28rem;
   border: 1px solid red;
}
.hero-container>img{
    width: 100%;
    height: 100%;
}

.mid-right{
    position: absolute;
    top: 12rem;
    left: 10rem;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.section-about{
    background-color: #f5f8fd;;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  

}

.section-about div h2::after {
    content: "";
    /* position: absolute; */
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
    /* width: 50px;
    height: 3px;
    position: absolute;
    background-color: #149ddd; */
}
.section-about div h2{
    color: #173b6c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.section-details{
    display: flex;
    flex-direction: row;
}
.left{
    width: 250px;
    height: 250px;
    /* padding: 2rem; */
    margin: 1rem;
    /* overflow: hidden; */
}
.left>img{
    width: 250px;
    height: 250px;
    /* padding-right: 10rem; */
    
    /* margin: 3rem; */
}
.right{
    margin:1rem;
    
    /* padding: 1rem; */
}
.right h3{
    color: #173b6c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.section-bio{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap:4rem;
}
.section-bio ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.progress{
    height: 10px;
    width: 100%;
    /* border: 1px solid gray; */
    background-color:#dce8f8;;
}

.progress-java{
    height: 10px;
    width: 85%;
    transition: 0.9s;
    background-color: #149ddd;
}
.progress-html{
    height: 10px;
    width: 80%;
    transition: 0.9s;
    background-color: #149ddd;
}
.progress-css{
    height: 10px;
    width: 72%;
    transition: 0.9s;
    background-color: #149ddd;
}
.progress-mysql{
    height: 10px;
    width: 65%;
    transition: 0.9s;
    background-color: #149ddd;
}
.skills{
    /* display: flex;
    flex-direction: row; */
    flex-wrap: nowrap;
    gap: 10px;
}
.skill-tittle h2{
    color: #173b6c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.skill-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom:2rem ;
    gap: 3rem;
    /* width: 50%; */
}
.skill-container>div{
    width: 50%;
    
}
.skills h2::after{
    content: "";
    /* position: absolute; */
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.prjt{
    height: 250px;
    width:350px;
    text-align: center;
    
    /* background-color: red; */
}
.prjt>img{
    height: 250px;
    width:350px;
    border-radius:23px;
}
.prjt>img:hover
{
    box-shadow: 15px 15px 5px gray;
}
.project-body{
    /* display: flex;
    flex-direction: row; */
    gap: 3px;
    background-color: #f5f8fd;;
}

.project-title h2::after{
    content: "";
    /* position: absolute; */
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.project-title h2{
    color: #173b6c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;   
}
.resume-title h2{
    color: #173b6c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.resume-title h2::after{
    content: "";
    /* position: absolute; */
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.project-body{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 3rem;
}
@media (max-width: 1024px) {
    .right-container{
        margin-left: 0;
        z-index: 1;
    }
    .container{
        position: relative;
        
    }
    .hero-container{
       position: relative;
       width: 100%;
       height: 28rem;
       border: 1px solid red;
    }

    .left-container{
        height: 100vh;
        width: 18rem;
        /* background-color:pink; */
        position: absolute;
        display: none;
        /* background: #040b14; */
        color: #fff;
        /* z-index: -1; */
        /* display: flex;
        flex-direction: row; */
        
        
    }
    .nav-profile-details>div:hover{
        color: #149ddd;
    }
  
    .nav-container{
        height: 3rem;
        width: 100vw;
        background-color:0;
        /* position: fixed; */
        background: 0;
        color: #fff;
        border: 0;
        /* z-index: 1; */
        position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
    }
    .nav-profile{
        display: none;
    }
    .profile-pic{
        height: 0px;
        width: 0px;
        overflow: hidden;
        /* border-radius: 75px; */
        border: 0;
    }
    .nav-profile-details{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        font:20px;
        margin-top: 4rem;
    }
    .nav-profile-details>div{
        display: block;
        width: 1rem;
        height: 1rem;
        /* margin:2rem; */
    }
    .nav-profile-details>div>a{
        text-decoration: none;
        color:#fff
    }
    
    .nav-profile-details>div>a:hover{
        color: #149ddd;
    }
    .nav-profile-details img{
        width: 1rem;
        height: 1rem;
        display: block;
    }
    
    .nav-profile-details>div>p{
        display: block;
    }
    
  }


  @media screen and (min-width:1024px){
    .nav-container{
        display: none;
    }
  }
/* .
}

 */
